body {
  margin: 0 0 0 0;
  background: #001A23;
}

.player1, .player2 {
  height: 50%;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  border-top: 3px #001A23 solid;
  border-left: 6px #001A23 solid;
  border-right: 6px #001A23 solid;
  font-size: 8rem;
  font-family: "Roboto Mono", "Arial";
}

.player1.white, .player2.white {
  background-color: #FFFBFE;
}

.player1.blue, .player2.blue {
  background-color: #3C4F76;
}

.player1.black, .player2.black {
  background-color: #5B616A;
}

.player1.red, .player2.red {
  background-color: #BD6B73;
}

.player1.green, .player2.green {
  background-color: #337357;
}

.player1 {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.minusButton, .plusButton {
  width: 70%;
  font-size: 2rem;
  background: transparent;
  border-color: #000000;
  border-radius: 10px;
}

.btnSpan {
  width: 25%;
  text-align: center;
}

.outerDiv .player1LifeText, .outerDiv .player2LifeText {
  width: 50%;
  text-align: center;
}

.innerDiv {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 15%;
  font-size: 2rem;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.innerDiv .player1LifeText, .innerDiv .player2LifeText {
  width: 10%;
  text-align: right;
  padding-right: 5%;
}

.outerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.settingsSpan {
  display: flex;
  width: 90%;
  text-align: left;
  padding-left: 5%;
}

.settingsSpan img {
  width: 3%;
  margin-right: 5%;
}

.colorCircle {
  margin-left: 3%;
  margin-right: 3%;
}

.colorCircle:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.colorCircle:before {
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.colorCircle.green:before {
  background-color: #337357;
}

.colorCircle.red:before {
  background-color: #BD6B73;
}

.colorCircle.white:before {
  background-color: #FFFBFE;
}

.colorCircle.blue:before {
  background-color: #3C4F76;
}

.colorCircle.black:before {
  background-color: #5B616A;
}

.colorSpan {
  display: flex;
  width: 97%;
}

.colorSpan.hidden {
  display: none;
}

.player1PlusCounter, .player1MinusCounter, .player2PlusCounter, .player2MinusCounter {
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: 1.5rem;
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 5px;
  transition-duration: 0.2s;
}

.player1PlusCounter.active, .player1MinusCounter.active, .player2PlusCounter.active, .player2MinusCounter.active {
  visibility: visible;
  opacity: 1;
  top: 0;
  transition-duration: 0.2s;
}
